<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8IILBJW4cCPcsciwSsK5oCrJ1BwW0P8A</string>
	<key>GCM_SENDER_ID</key>
	<string>891525995333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbaseStorageAndFirestore</string>
	<key>PROJECT_ID</key>
	<string>my-app-a0827</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-a0827.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891525995333:ios:9964e9056b8c008aa93c2c</string>
</dict>
</plist>